scene/data
bin/
media/
temp/
*.o
*.pc
*.ppm
*.png
*.jpg
*.hdr
*.swp
*.old
CMakeCache.txt
CMakeLists.txt.user
CMakeFiles/
Testing/
cmake_install.cmake
CTestTestfile.cmake
Makefile
imgui.ini
.cmake
.idea

# procedurally generated source code
src/xtcore/license.h

# other files
*.cbp

